<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>What sub</title>
      <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        .a-r{
          text-align: right;
        }
      </style>
      <script>
        
      </script>
  </head>
  <body>
    <div class="a-r">
        16-Jul-2021
    </div>
    <div>
        <img src="./img/avatar.png"/>
    </div>
    <!--Show info-->
    <div>
      <table>
        <tr><th>#</th><th>name</th><th>Calories(KCal.)</th><th>time</th></tr>
        <tr>
            <td>1.</td><td>ข้าวแกง</td><td class="a-r">550</td>
            <td class="a-r">8:23 AM.</td>
        </tr>
        <tr>
            <td>2.</td><td>กุ้งกระเทียบราดข้าว</td><td class="a-r">610</td><td class="a-r">12.45 AM.</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: right;">รวม</td>
          <td class="a-r">1,160</td><td></td>
        </tr>
      </table>
    </div>
    <div style="margin-top: 1em;">
      <button>&#8592; Back</button>
      <button>Add &#8594;</button>
    </div>
    <!--End Show info-->
  </body>
</html>