<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>What sub</title>
      <script>
        
      </script>
  </head>
  <body>
    <!--Show Image-->
    <div>
       <img src='./uploads/<%= file %>' style="max-width: 100%;height: auto;"/>
    </div>
    <!--EndShow Image-->
    <!--Show info-->
    <div>
      <%= data%>
    </div>
    <!--End Show info-->
  </body>
</html>