<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>What sub</title>
      <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        .a-r{
          text-align: right;
        }
      </style>
      <script>
        
      </script>
  </head>
  <body>
    <!--Show Image-->
    <div>
       <img src='./images/02.jpg' style="max-width: 100%;height: auto;"/>
    </div>
    <!--EndShow Image-->
    <!--Show info-->
    <div>
      <table>
        <tr><th>id</th><th>name</th><th>Calories(KCal.)</th><th><input type="checkbox">All</th></tr>
        <tr><td>6.</td><td>ข้าว</td><td class="a-r">200</td><td><input type="checkbox"></td></tr>
        <tr><td>3.</td><td>กุ้งสุก</td><td class="a-r">60</td><td><input type="checkbox"></td></tr>
        <tr><td>84.</td><td>กุ้งกระเทียมพริกไทย</td><td class="a-r">400</td><td><input type="checkbox"></td></tr>
        <tr><td>26.</td><td>ผักชี</td><td class="a-r"> 10</td><td><input type="checkbox"></td></tr>
        <tr>
          <td colspan="2" style="text-align: right;">รวม</td>
          <td class="a-r">610</td><td></td>
        </tr>
      </table>
    </div>
    <div style="margin-top: 1em;">
      <button>&#8592; Back</button>
      <button>Add &#8594;</button>
    </div>
    <!--End Show info-->
  </body>
</html>