<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>test</title>
    <style>
      body {
        background-image: url("./images/Template.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
    <script>
        function test(){
            location.replace("../resultDemo.html")
        }
    </script>
  </head>
  <body>
    <div style="height: 600px;">
        
    </div>
    <div style="margin-left: 40px;background-color: rgb(118, 114, 114);width:18em;padding: 1em;">
      <form action="/" method="post" enctype="multipart/form-data" onsubmit="return false;">
        <div>
            <input type="file" name="image" />
        </div>
        <div>
            <input type="submit" name="btn_upload_profile_pic" value="Upload" onclick="test();"/>
        </div>
      </form>
    </div>
  </body>
</html>